<h3>Customer Reviews</h3>
<div id="reviewsContainer" style="width:100%;display:flex;flex-direction:column;" product-id="{{ product.id }}" reviews-per-page="{{ block.settings.reviews_per_page }}">
  <h3>Loading reviews...</h3>
</div>

{% schema %}
{
  "name": "Reviews",
  "target": "section",
  "javascript": "test-app.js",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "number", "id": "reviews_per_page", "label": "Reviews per page", "default": 10 }
  ]
}
{% endschema %}
