<h3>Test Reviews</h3>
<div id="reviewsContainer" style="width:100%;display:flex;flex-direction:column;">
  <h3>Loading reviews...</h3>
</div>

{% schema %}
{
  "name": "Reviews",
  "target": "section",
  "javascript": "test-app.js",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}
